/* vars and general containers */
:root {
  --background-color: #12131A;
  --card-color: #1C1F2A;
  --primary-text: #F2F2F7;
  --secondary-text: #B4B7C9;
}



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

article{
    margin-top: 40px;
    height: 800px;
    width: 650px;
    background-color: var(--background-color);
    text-align: center;
}

/* header */

h3{
    color: var(--primary-text);
}

header{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

header button {
    margin-left: auto;
    margin-right: 10px;
}

header img{
    margin-left: 10px;
    width: 40px;
}


/* text area container */

h1{
    color: var(--primary-text);
    width: 420px;
    font-size: 50px;
    margin: auto;
    margin-top: 20px;
}

textarea{
    font-size: 14px;
    margin-top: 20px;
    color: var(--secondary-text);
    border-radius: 10px;
    border-width: 2px;
    border-color: #2A2D3A;
    resize: none;
    background-color: var(--card-color);
    width: 600px;
    height: 120px;
    padding-top: 15px;
    padding-left: 10px;
}

#checkbox-area{
    font-size: 14px;
    display: flex;
    gap: 5px;
    margin-left: 20px;
    color: var(--secondary-text);
    background-color: #12131A;
    margin-top: 10px;
}

#checkbox-area input:nth-child(2){
    margin-left: 10px;
}

.checkbox {
  appearance: none;


  width: 16px;
  height: 16px;
  border: 1.5px solid #6b7280;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-right: 6px;
}

.checkbox:checked {
  border-color: #d1d5db;
}

.checkbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: 1.5px solid #e5e7eb;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

.checkbox:checked::after {
  display: block;
}

#checkbox-area p{
    margin-left: auto;
    margin-right: 18px;
}


